In [ ]:
# A guided project to analyse exit surveys from
# employees of the Department of Education, Training and Employment (DETE), and
# the Technical and Further Education (TAFE) institute in Queensland, Australia.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dete_survey = pd.read_csv('dete_survey.csv')
tafe_survey = pd.read_csv('tafe_survey.csv')

In [3]:
data_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 822 entries, 0 to 821
Data columns (total 56 columns):
ID                                     822 non-null int64
SeparationType                         822 non-null object
Cease Date                             822 non-null object
DETE Start Date                        822 non-null object
Role Start Date                        822 non-null object
Position                               817 non-null object
Classification                         455 non-null object
Region                                 822 non-null object
Business Unit                          126 non-null object
Employment Status                      817 non-null object
Career move to public sector           822 non-null bool
Career move to private sector          822 non-null bool
Interpersonal conflicts                822 non-null bool
Job dissatisfaction                    822 non-null bool
Dissatisfaction with the department    822 non-null bool
Physical work environment              822 non-null bool
Lack of recognition                    822 non-null bool
Lack of job security                   822 non-null bool
Work location                          822 non-null bool
Employment conditions                  822 non-null bool
Maternity/family                       822 non-null bool
Relocation                             822 non-null bool
Study/Travel                           822 non-null bool
Ill Health                             822 non-null bool
Traumatic incident                     822 non-null bool
Work life balance                      822 non-null bool
Workload                               822 non-null bool
None of the above                      822 non-null bool
Professional Development               808 non-null object
Opportunities for promotion            735 non-null object
Staff morale                           816 non-null object
Workplace issue                        788 non-null object
Physical environment                   817 non-null object
Worklife balance                       815 non-null object
Stress and pressure support            810 non-null object
Performance of supervisor              813 non-null object
Peer support                           812 non-null object
Initiative                             813 non-null object
Skills                                 811 non-null object
Coach                                  767 non-null object
Career Aspirations                     746 non-null object
Feedback                               792 non-null object
Further PD                             768 non-null object
Communication                          814 non-null object
My say                                 812 non-null object
Information                            816 non-null object
Kept informed                          813 non-null object
Wellness programs                      766 non-null object
Health & Safety                        793 non-null object
Gender                                 798 non-null object
Age                                    811 non-null object
Aboriginal                             16 non-null object
Torres Strait                          3 non-null object
South Sea                              7 non-null object
Disability                             23 non-null object
NESB                                   32 non-null object
dtypes: bool(18), int64(1), object(37)
memory usage: 258.6+ KB

In [4]:
dete_survey.shape

(822, 56)

In [5]:
dete_survey.head()

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Kept informed,Wellness programs,Health & Safety,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984,2004,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,Not Stated,Not Stated,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,N,N,N,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011,2011,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,N,N,N,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005,2006,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,A,N,A,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970,1989,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,N,A,M,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [6]:
tafe_survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 702 entries, 0 to 701
Data columns (total 72 columns):
Record ID                                                                                                                                                        702 non-null float64
Institute                                                                                                                                                        702 non-null object
WorkArea                                                                                                                                                         702 non-null object
CESSATION YEAR                                                                                                                                                   695 non-null float64
Reason for ceasing employment                                                                                                                                    701 non-null object
Contributing Factors. Career Move - Public Sector                                                                                                                437 non-null object
Contributing Factors. Career Move - Private Sector                                                                                                               437 non-null object
Contributing Factors. Career Move - Self-employment                                                                                                              437 non-null object
Contributing Factors. Ill Health                                                                                                                                 437 non-null object
Contributing Factors. Maternity/Family                                                                                                                           437 non-null object
Contributing Factors. Dissatisfaction                                                                                                                            437 non-null object
Contributing Factors. Job Dissatisfaction                                                                                                                        437 non-null object
Contributing Factors. Interpersonal Conflict                                                                                                                     437 non-null object
Contributing Factors. Study                                                                                                                                      437 non-null object
Contributing Factors. Travel                                                                                                                                     437 non-null object
Contributing Factors. Other                                                                                                                                      437 non-null object
Contributing Factors. NONE                                                                                                                                       437 non-null object
Main Factor. Which of these was the main factor for leaving?                                                                                                     113 non-null object
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                           608 non-null object
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                       613 non-null object
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                             610 non-null object
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                              608 non-null object
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                  615 non-null object
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                    607 non-null object
InstituteViews. Topic:7. Management was generally supportive of me                                                                                               614 non-null object
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                          608 non-null object
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                            610 non-null object
InstituteViews. Topic:10. Staff morale was positive within the Institute                                                                                         602 non-null object
InstituteViews. Topic:11. If I had a workplace issue it was dealt with quickly                                                                                   601 non-null object
InstituteViews. Topic:12. If I had a workplace issue it was dealt with efficiently                                                                               597 non-null object
InstituteViews. Topic:13. If I had a workplace issue it was dealt with discreetly                                                                                601 non-null object
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                  609 non-null object
WorkUnitViews. Topic:15. I worked well with my colleagues                                                                                                        605 non-null object
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                  607 non-null object
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                          610 non-null object
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                    613 non-null object
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                     609 non-null object
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                 609 non-null object
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]    608 non-null object
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                              608 non-null object
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                      611 non-null object
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                      610 non-null object
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                          611 non-null object
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                      606 non-null object
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                         610 non-null object
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date    609 non-null object
WorkUnitViews. Topic:29. There was adequate communication between staff in my unit                                                                               603 non-null object
WorkUnitViews. Topic:30. Staff morale was positive within my work unit                                                                                           606 non-null object
Induction. Did you undertake Workplace Induction?                                                                                                                619 non-null object
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    432 non-null object
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    483 non-null object
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          440 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        555 non-null object
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   555 non-null object
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       530 non-null object
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            555 non-null object
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   553 non-null object
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   555 non-null object
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  555 non-null object
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         555 non-null object
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                        608 non-null object
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      594 non-null object
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   587 non-null object
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       586 non-null object
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     581 non-null object
Gender. What is your Gender?                                                                                                                                     596 non-null object
CurrentAge. Current Age                                                                                                                                          596 non-null object
Employment Type. Employment Type                                                                                                                                 596 non-null object
Classification. Classification                                                                                                                                   596 non-null object
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        596 non-null object
LengthofServiceCurrent. Length of Service at current workplace (in years)                                                                                        596 non-null object
dtypes: float64(2), object(70)
memory usage: 395.0+ KB

In [7]:
tafe_survey.shape

(702, 72)

In [8]:
tafe_survey.head()

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?,Workplace. Topic:Does your workplace promote and practice the principles of employment equity?,Workplace. Topic:Does your workplace value the diversity of its employees?,Workplace. Topic:Would you recommend the Institute as an employer to others?,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,Yes,Yes,Yes,Yes,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,Yes,Yes,Yes,Yes,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,Yes,Yes,Yes,Yes,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [18]:
tafe_survey.isnull().sum().sort_values()

Record ID                                                                                                                                                          0
Institute                                                                                                                                                          0
WorkArea                                                                                                                                                           0
Reason for ceasing employment                                                                                                                                      1
CESSATION YEAR                                                                                                                                                     7
Induction. Did you undertake Workplace Induction?                                                                                                                 83
InstituteViews. Topic:5. I felt the salary for the job was right for the responsibilities I had                                                                   87
InstituteViews. Topic:7. Management was generally supportive of me                                                                                                88
InstituteViews. Topic:2. I was given access to skills training to help me do my job better                                                                        89
WorkUnitViews. Topic:18. I had sufficient contact with other people in my job                                                                                     89
WorkUnitViews. Topic:23. My job provided sufficient variety                                                                                                       91
WorkUnitViews. Topic:25. My job allowed me to balance the demands of work and family to my satisfaction                                                           91
WorkUnitViews. Topic:17. I was encouraged to use my initiative in the course of my work                                                                           92
InstituteViews. Topic:9. I was kept informed of the changes in the organisation which would affect me                                                             92
WorkUnitViews. Topic:27. My working environment was satisfactory e.g. sufficient space, good lighting, suitable seating and working area                          92
InstituteViews. Topic:3. I was given adequate opportunities for personal development                                                                              92
WorkUnitViews. Topic:24. I was able to cope with the level of stress and pressure in my job                                                                       92
WorkUnitViews. Topic:28. I was given the opportunity to mentor and coach others in order for me to pass on my skills and knowledge prior to my cessation date     93
WorkUnitViews. Topic:20. I was able to use the full range of my skills in my job                                                                                  93
WorkUnitViews. Topic:19. I was given adequate support and co-operation by my peers to enable me to do my job                                                      93
WorkUnitViews. Topic:14. I was satisfied with the quality of the management and supervision within my work unit                                                   93
InstituteViews. Topic:8. Management was generally supportive of my team                                                                                           94
InstituteViews. Topic:1. I feel the senior leadership had a clear vision and direction                                                                            94
Workplace. Topic:Did you and your Manager develop a Performance and Professional Development Plan (PPDP)?                                                         94
InstituteViews. Topic:4. I was given adequate opportunities for promotion within %Institute]Q25LBL%                                                               94
WorkUnitViews. Topic:21. I was able to use the full range of my abilities in my job. ; Category:Level of Agreement; Question:YOUR VIEWS ABOUT YOUR WORK UNIT]     94
WorkUnitViews. Topic:22. I was able to use the full range of my knowledge in my job                                                                               94
InstituteViews. Topic:6. The organisation recognised when staff did good work                                                                                     95
WorkUnitViews. Topic:16. My job was challenging and interesting                                                                                                   95
WorkUnitViews. Topic:26. My supervisor gave me adequate personal recognition and feedback on my performance                                                       96
                                                                                                                                                                ...
LengthofServiceOverall. Overall Length of Service at Institute (in years)                                                                                        106
Workplace. Topic:Does your workplace promote a work culture free from all forms of unlawful discrimination?                                                      108
Workplace. Topic:Does your workplace promote and practice the principles of employment equity?                                                                   115
Workplace. Topic:Does your workplace value the diversity of its employees?                                                                                       116
Workplace. Topic:Would you recommend the Institute as an employer to others?                                                                                     121
InductionInfo. Induction Manual Topic: Did you undertake Team Induction?                                                                                         147
InductionInfo. On-line Topic: Did you undertake Team Induction?process you undertook and how it was conducted.]                                                  147
InductionInfo. Face to Face Topic: Did you undertake Team Induction; Category?                                                                                   147
InductionInfo. Induction Manual Topic:Did you undertake a Corporate Induction?                                                                                   147
InductionInfo. On-line Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                             147
InductionInfo. On-line Topic:Did you undertake a Institute Induction?                                                                                            147
InductionInfo. Face to Face Topic:Did you undertake a Corporate Induction; Category:How it was conducted?                                                        147
InductionInfo. Induction Manual Topic:Did you undertake a Institute Induction?                                                                                   149
InductionInfo. Face to Face Topic:Did you undertake a Institute Induction?                                                                                       172
InductionInfo. Topic:Did you undertake a Institute Induction?                                                                                                    219
InductionInfo. Topic: Did you undertake Team Induction?                                                                                                          262
Contributing Factors. Job Dissatisfaction                                                                                                                        265
Contributing Factors. Interpersonal Conflict                                                                                                                     265
Contributing Factors. Study                                                                                                                                      265
Contributing Factors. Travel                                                                                                                                     265
Contributing Factors. Career Move - Private Sector                                                                                                               265
Contributing Factors. Career Move - Self-employment                                                                                                              265
Contributing Factors. Dissatisfaction                                                                                                                            265
Contributing Factors. Other                                                                                                                                      265
Contributing Factors. NONE                                                                                                                                       265
Contributing Factors. Career Move - Public Sector                                                                                                                265
Contributing Factors. Maternity/Family                                                                                                                           265
Contributing Factors. Ill Health                                                                                                                                 265
InductionInfo. Topic:Did you undertake a Corporate Induction?                                                                                                    270
Main Factor. Which of these was the main factor for leaving?                                                                                                     589
Length: 72, dtype: int64

In [ ]:
#dete_survey:
#- 822 rows, 56 columns
#- lots of missing values
#- column names varied 
#- type object or bool
# 'Not Stated' values

#tafe_survey:
# 702 rows, 72 columns
#- lots of missing values
#- column names varied 
#- type mostly object 2 float

In [3]:
dete_survey = pd.read_csv('dete_survey.csv', na_values = 'Not Stated')

In [4]:
dete_survey_updated = dete_survey.drop(dete_survey.columns[28:49],axis=1)

In [5]:
tafe_survey_updated = tafe_survey.drop(tafe_survey.columns[17:66],axis=1)

In [27]:
# Values 'Not Stated' changed to NaN
# removed unnecessary columns

,Professional Development,Opportunities for promotion,Staff morale,Workplace issue,Physical environment,Worklife balance,Stress and pressure support,Performance of supervisor,Peer support,Initiative,...,Coach,Career Aspirations,Feedback,Further PD,Communication,My say,Information,Kept informed,Wellness programs,Health & Safety
0,A,A,N,N,N,A,A,A,A,N,...,N,A,A,A,N,A,A,N,N,N
1,A,A,N,N,N,N,A,A,A,N,...,N,A,A,A,N,A,A,N,N,N
2,N,N,N,N,N,N,N,N,N,N,...,N,N,N,N,A,A,N,N,N,N
3,A,N,N,N,A,A,N,N,A,A,...,A,A,A,A,A,A,A,A,N,A
4,A,A,N,N,D,D,N,A,A,A,...,A,A,SA,SA,D,D,A,N,A,M

In [32]:
dete_survey_updated.shape

(822, 35)

In [ ]:
#dete_survey_updated:
#- 822 rows, 35 columns
#- lots of missing values
#- column names varied 
#- type object or bool

#tafe_survey_updated:
# 702 rows, 23 columns
#- lots of missing values
#- column names varied 
#- type mostly object 2 float

In [37]:
dete_survey_updated.columns

Index(['ID', 'SeparationType', 'Cease Date', 'DETE Start Date',
       'Role Start Date', 'Position', 'Classification', 'Region',
       'Business Unit', 'Employment Status', 'Career move to public sector',
       'Career move to private sector', 'Interpersonal conflicts',
       'Job dissatisfaction', 'Dissatisfaction with the department',
       'Physical work environment', 'Lack of recognition',
       'Lack of job security', 'Work location', 'Employment conditions',
       'Maternity/family', 'Relocation', 'Study/Travel', 'Ill Health',
       'Traumatic incident', 'Work life balance', 'Workload',
       'None of the above', 'Gender', 'Age', 'Aboriginal', 'Torres Strait',
       'South Sea', 'Disability', 'NESB'],
      dtype='object')

In [36]:
tafe_survey_updated.columns

Index(['Record ID', 'Institute', 'WorkArea', 'CESSATION YEAR',
       'Reason for ceasing employment',
       'Contributing Factors. Career Move - Public Sector ',
       'Contributing Factors. Career Move - Private Sector ',
       'Contributing Factors. Career Move - Self-employment',
       'Contributing Factors. Ill Health',
       'Contributing Factors. Maternity/Family',
       'Contributing Factors. Dissatisfaction',
       'Contributing Factors. Job Dissatisfaction',
       'Contributing Factors. Interpersonal Conflict',
       'Contributing Factors. Study', 'Contributing Factors. Travel',
       'Contributing Factors. Other', 'Contributing Factors. NONE',
       'Gender. What is your Gender?', 'CurrentAge. Current Age',
       'Employment Type. Employment Type', 'Classification. Classification',
       'LengthofServiceOverall. Overall Length of Service at Institute (in years)',
       'LengthofServiceCurrent. Length of Service at current workplace (in years)'],
      dtype='object')

In [38]:
dete_survey_updated.head(1)

,ID,SeparationType,Cease Date,DETE Start Date,Role Start Date,Position,Classification,Region,Business Unit,Employment Status,...,Work life balance,Workload,None of the above,Gender,Age,Aboriginal,Torres Strait,South Sea,Disability,NESB
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes

In [39]:
tafe_survey_updated.head(1)

,Record ID,Institute,WorkArea,CESSATION YEAR,Reason for ceasing employment,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,Gender. What is your Gender?,CurrentAge. Current Age,Employment Type. Employment Type,Classification. Classification,LengthofServiceOverall. Overall Length of Service at Institute (in years),LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2

In [6]:
dete_survey_updated.columns = dete_survey_updated.columns = dete_survey_updated.columns.str.replace('\s+', '_').str.strip().str.lower()

In [7]:
new_cols_dict = {'Record ID': 'id', 'CESSATION YEAR': 'cease_date', 'Reason for ceasing employment': 'separationtype',
        'Gender. What is your Gender?': 'gender', 'CurrentAge. Current Age': 'age',
       'Employment Type. Employment Type': 'employment_status', 'Classification. Classification': 'position',
     'LengthofServiceOverall. Overall Length of Service at Institute (in years)': 'institute_service' }
tafe_survey_updated.rename(new_cols_dict, axis=1, inplace=True)

In [12]:
dete_survey_updated.head()

,id,separationtype,cease_date,dete_start_date,role_start_date,position,classification,region,business_unit,employment_status,...,work_life_balance,workload,none_of_the_above,gender,age,aboriginal,torres_strait,south_sea,disability,nesb
0,1,Ill Health Retirement,08/2012,1984.0,2004.0,Public Servant,A01-A04,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,True,Male,56-60,NaN,NaN,NaN,NaN,Yes
1,2,Voluntary Early Retirement (VER),08/2012,NaN,NaN,Public Servant,AO5-AO7,Central Office,Corporate Strategy and Peformance,Permanent Full-time,...,False,False,False,Male,56-60,NaN,NaN,NaN,NaN,NaN
2,3,Voluntary Early Retirement (VER),05/2012,2011.0,2011.0,Schools Officer,NaN,Central Office,Education Queensland,Permanent Full-time,...,False,False,True,Male,61 or older,NaN,NaN,NaN,NaN,NaN
3,4,Resignation-Other reasons,05/2012,2005.0,2006.0,Teacher,Primary,Central Queensland,NaN,Permanent Full-time,...,False,False,False,Female,36-40,NaN,NaN,NaN,NaN,NaN
4,5,Age Retirement,05/2012,1970.0,1989.0,Head of Curriculum/Head of Special Education,NaN,South East,NaN,Permanent Full-time,...,True,False,False,Female,61 or older,NaN,NaN,NaN,NaN,NaN

In [13]:
tafe_survey_updated.head()

,id,Institute,WorkArea,cease_date,separationtype,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Ill Health,Contributing Factors. Maternity/Family,...,Contributing Factors. Study,Contributing Factors. Travel,Contributing Factors. Other,Contributing Factors. NONE,gender,age,employment_status,position,institute_service,LengthofServiceCurrent. Length of Service at current workplace (in years)
0,6.341330e+17,Southern Queensland Institute of TAFE,Non-Delivery (corporate),2010.0,Contract Expired,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Female,26 30,Temporary Full-time,Administration (AO),1-2,1-2
1,6.341337e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Retirement,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
2,6.341388e+17,Mount Isa Institute of TAFE,Delivery (teaching),2010.0,Retirement,-,-,-,-,-,...,-,-,-,NONE,NaN,NaN,NaN,NaN,NaN,NaN
3,6.341399e+17,Mount Isa Institute of TAFE,Non-Delivery (corporate),2010.0,Resignation,-,-,-,-,-,...,-,Travel,-,-,NaN,NaN,NaN,NaN,NaN,NaN
4,6.341466e+17,Southern Queensland Institute of TAFE,Delivery (teaching),2010.0,Resignation,-,Career Move - Private Sector,-,-,-,...,-,-,-,-,Male,41 45,Permanent Full-time,Teacher (including LVT),3-4,3-4

In [30]:
tafe_survey_updated['separationtype'].value_counts(dropna=False)

Resignation                 340
Contract Expired            127
Retrenchment/ Redundancy    104
Retirement                   82
Transfer                     25
Termination                  23
NaN                           1
Name: separationtype, dtype: int64

In [32]:
dete_survey_updated.separationtype.value_counts(dropna=False)

Age Retirement                          285
Resignation-Other reasons               150
Resignation-Other employer               91
Resignation-Move overseas/interstate     70
Voluntary Early Retirement (VER)         67
Ill Health Retirement                    61
Other                                    49
Contract Expired                         34
Termination                              15
Name: separationtype, dtype: int64

In [8]:
dete_resignations = dete_survey_updated[(dete_survey_updated.separationtype == 'Resignation-Other reasons')
                    | (dete_survey_updated.separationtype =='Resignation-Other employer') 
                    | (dete_survey_updated.separationtype =='Resignation-Move overseas/interstate')].copy()

In [9]:
tafe_resignations = tafe_survey_updated[tafe_survey_updated.separationtype == 'Resignation'].copy()

In [50]:
# tafe_resignations and dete_resignations are two DFs with
# only the rows where the separationtype is 'by resignation'.

In [54]:
dete_resignations.cease_date.describe()

count      300
unique      16
top       2012
freq       126
Name: cease_date, dtype: object

In [59]:
dete_resignations.cease_date.value_counts()

2012       126
2013        74
01/2014     22
12/2013     17
06/2013     14
09/2013     11
11/2013      9
07/2013      9
10/2013      6
08/2013      4
05/2013      2
05/2012      2
07/2012      1
07/2006      1
09/2010      1
2010         1
Name: cease_date, dtype: int64

In [10]:
dete_resignations.cease_date = dete_resignations.cease_date.str.extract(r'([2][0][0-1][0-9])',
                                                                        expand=True).astype(float)

In [78]:
dete_resignations.cease_date

3      2012.0
5      2012.0
8      2012.0
9      2012.0
11     2012.0
12     2012.0
14     2012.0
16     2012.0
20     2012.0
21     2012.0
22     2012.0
23     2012.0
25     2012.0
27     2012.0
33     2012.0
34     2012.0
37     2012.0
39     2012.0
40     2012.0
41     2012.0
42     2012.0
43     2012.0
48     2012.0
50     2012.0
51     2012.0
55     2012.0
57     2012.0
61     2012.0
69     2012.0
71     2012.0
        ...
747    2014.0
751    2013.0
752    2013.0
753    2013.0
755    2013.0
762    2006.0
766    2014.0
769    2013.0
770       NaN
771    2014.0
774       NaN
784    2013.0
786    2014.0
788       NaN
789    2014.0
790    2014.0
791       NaN
794    2013.0
797       NaN
798       NaN
802    2013.0
803    2014.0
804    2014.0
806    2013.0
807    2013.0
808    2013.0
815    2014.0
816    2014.0
819    2014.0
821    2013.0
Name: cease_date, Length: 311, dtype: float64

In [87]:
dete_resignations.cease_date.value_counts(ascending=True)

2006.0      1
2010.0      2
2014.0     22
2012.0    129
2013.0    146
Name: cease_date, dtype: int64

In [13]:
dete_resignations.dete_start_date.value_counts(ascending=True)

1963.0     1
1977.0     1
1973.0     1
1975.0     1
1987.0     1
1982.0     1
1984.0     1
1972.0     1
1971.0     1
1974.0     2
1976.0     2
1983.0     2
1986.0     3
1985.0     3
2001.0     3
1995.0     4
1988.0     4
1989.0     4
1991.0     4
1997.0     5
1980.0     5
1990.0     5
1993.0     5
1994.0     6
2003.0     6
1998.0     6
1992.0     6
2002.0     6
1996.0     6
1999.0     8
2000.0     9
2013.0    10
2006.0    13
2009.0    13
2004.0    14
2005.0    15
2010.0    17
2012.0    21
2007.0    21
2008.0    22
2011.0    24
Name: dete_start_date, dtype: int64

In [11]:
tafe_resignations.cease_date.value_counts().sort_index(ascending= True)

2009.0      2
2010.0     68
2011.0    116
2012.0     94
2013.0     55
Name: cease_date, dtype: int64

In [94]:
import matplotlib.pyplot as plt

In [126]:
dete_resignations['institute_service'] = dete_resignations.cease_date - dete_resignations.dete_start_date

In [23]:
dete_resignations.institute_service.value_counts(dropna=False).sort_index()

 0.0     20
 1.0     22
 2.0     14
 3.0     20
 4.0     16
 5.0     23
 6.0     17
 7.0     13
 8.0      8
 9.0     14
 10.0     6
 11.0     4
 12.0     6
 13.0     8
 14.0     6
 15.0     7
 16.0     5
 17.0     6
 18.0     5
 19.0     3
 20.0     7
 21.0     3
 22.0     6
 23.0     4
 24.0     4
 25.0     2
 26.0     2
 27.0     1
 28.0     2
 29.0     1
 30.0     2
 31.0     1
 32.0     3
 33.0     1
 34.0     1
 35.0     1
 36.0     2
 38.0     1
 39.0     3
 41.0     1
 42.0     1
 49.0     1
NaN      38
dtype: int64

In [24]:
tafe_resignations.institute_service.value_counts(dropna=False).sort_index()

1-2                   64
11-20                 26
3-4                   63
5-6                   33
7-10                  21
Less than 1 year      73
More than 20 years    10
NaN                   50
Name: institute_service, dtype: int64

In [133]:
dete_resignations.institute_service.value_counts(dropna=False).sum()

311

In [27]:
tafe_survey_updated['Contributing Factors. Job Dissatisfaction'].value_counts(dropna=False)

-                      360
NaN                    265
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [43]:
tafe_survey_updated[['Contributing Factors. Dissatisfaction',
                     'Contributing Factors. Job Dissatisfaction']].unique()

AttributeError: 'DataFrame' object has no attribute 'unique'

In [37]:
dete_survey_updated[['job_dissatisfaction', 'dissatisfaction_with_the_department',
                     'physical_work_environment', 'lack_of_recognition', 'lack_of_job_security',
                     'work_location', 'employment_conditions', 'work_life_balance', 'workload' ]].head(15)

,job_dissatisfaction,dissatisfaction_with_the_department,physical_work_environment,lack_of_recognition,lack_of_job_security,work_location,employment_conditions,work_life_balance,workload
0,True,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False
5,False,False,False,False,False,False,True,False,False
6,True,True,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,True,True,False,False,False,False,False,False,False
10,True,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,True,False
14,True,True,False,False,False,False,False,False,False

In [45]:
# tafe_survey_updated['Contributing Factors. Dissatisfaction'].str.contrains()
                
# tafe_survey_updated['Contributing Factors. Job Dissatisfaction'].str.contrains()

In [46]:
tafe_survey_updated['Contributing Factors. Dissatisfaction'].value_counts(dropna=False)

-                                         371
NaN                                       265
Contributing Factors. Dissatisfaction      66
Name: Contributing Factors. Dissatisfaction, dtype: int64

In [53]:
tafe_survey_updated['Contributing Factors. Dissatisfaction'] = tafe_survey_updated['Contributing Factors. Dissatisfaction'].str.replace('Contributing Factors. Dissatisfaction', 'True').str.replace('-', 'False')

In [47]:
tafe_survey_updated['Contributing Factors. Job Dissatisfaction'].value_counts(dropna=False)

-                      360
NaN                    265
Job Dissatisfaction     77
Name: Contributing Factors. Job Dissatisfaction, dtype: int64

In [55]:
tafe_survey_updated['Contributing Factors. Job Dissatisfaction'] = tafe_survey_updated['Contributing Factors. Job Dissatisfaction'].str.replace('Job Dissatisfaction', 'True').str.replace('-', 'False')

In [58]:
def update_vals(x):
    if x == '-':
        return False
    elif pd.isnull(x):
        return np.nan
    else:
        return True

In [59]:
tafe_resignations['dissatisfied'] = tafe_resignations[['Contributing Factors. Dissatisfaction', 'Contributing Factors. Job Dissatisfaction']].applymap(update_vals).any(1, skipna=False)

In [60]:
tafe_resignations_up = tafe_resignations.copy()

In [62]:
tafe_resignations_up['dissatisfied']

3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
13     False
14      True
15     False
16       NaN
17      True
18       NaN
19     False
20      True
21     False
22     False
23     False
24     False
26      True
27     False
29     False
32     False
36     False
37     False
39     False
40      True
41     False
42     False
       ...
659    False
660    False
661     True
665    False
666    False
669    False
670      NaN
671     True
675     True
676    False
677    False
678    False
679    False
681    False
682    False
683    False
684    False
685     True
686    False
688    False
689     True
690    False
691    False
693    False
694    False
696    False
697    False
698    False
699    False
701    False
Name: dissatisfied, Length: 340, dtype: object

In [138]:
# Update the values in columns related to dissatisfaction to be either True, False, or NaN
dete_resignations['dissatisfied'] = dete_resignations[['job_dissatisfaction',
       'dissatisfaction_with_the_department', 'physical_work_environment',
       'lack_of_recognition', 'lack_of_job_security', 'work_location',
       'employment_conditions', 'work_life_balance', 'institute_service',
       'workload']].any(1, skipna=False)
dete_resignations_up = dete_resignations.copy()
dete_resignations_up['dissatisfied'].value_counts(dropna=False)

True     162
NaN       27
3.0       12
4.0       11
5.0       11
False      9
2.0        9
6.0        8
7.0        6
10.0       5
12.0       4
13.0       4
15.0       3
8.0        3
9.0        3
21.0       3
20.0       3
14.0       3
11.0       2
16.0       2
17.0       2
18.0       2
19.0       2
23.0       2
25.0       2
42.0       1
22.0       1
26.0       1
27.0       1
28.0       1
29.0       1
30.0       1
31.0       1
32.0       1
35.0       1
49.0       1
Name: dissatisfied, dtype: int64

In [139]:
dete_resignations_up.institute_service

3       7.0
5      18.0
8       3.0
9      15.0
11      3.0
12     14.0
14      5.0
16      NaN
20     30.0
21     32.0
22     15.0
23     39.0
25     17.0
27      7.0
33      9.0
34      6.0
37      1.0
39      NaN
40     35.0
41     38.0
42      1.0
43     36.0
48      3.0
50      3.0
51     19.0
55      4.0
57      9.0
61      1.0
69      6.0
71      1.0
       ...
747     6.0
751     8.0
752    15.0
753     9.0
755     1.0
762     0.0
766     7.0
769     5.0
770     NaN
771    12.0
774     NaN
784     0.0
786    20.0
788     NaN
789    31.0
790     6.0
791     NaN
794     NaN
797     NaN
798     NaN
802     NaN
803    10.0
804     6.0
806     8.0
807     9.0
808     3.0
815     2.0
816     2.0
819     5.0
821     NaN
Name: institute_service, Length: 311, dtype: float64

In [87]:
tafe_resignations_up.shape

(340, 25)

In [80]:
dete_resignations_up['institute'] ='DETE'

In [81]:
tafe_resignations_up['institute'] ='TAFE'

In [140]:
combined = pd.concat([dete_resignations_up, tafe_resignations_up], ignore_index=True)

In [129]:
combined.shape

(651, 53)

In [141]:
combined.institute_service.value_counts().sum()

563

In [131]:
combined.institute_service.value_counts()

Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
7-10                  21
More than 20 years    10
Name: institute_service, dtype: int64

In [122]:
tafe_resignations_up.institute_service.value_counts()

Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
7-10                  21
More than 20 years    10
Name: institute_service, dtype: int64

In [132]:
dete_resignations_up.institute_service.value_counts()

AttributeError: 'DataFrame' object has no attribute 'institute_service'

In [125]:
dete_resignations_up.columns

Index(['id', 'separationtype', 'cease_date', 'dete_start_date',
       'role_start_date', 'position', 'classification', 'region',
       'business_unit', 'employment_status', 'career_move_to_public_sector',
       'career_move_to_private_sector', 'interpersonal_conflicts',
       'job_dissatisfaction', 'dissatisfaction_with_the_department',
       'physical_work_environment', 'lack_of_recognition',
       'lack_of_job_security', 'work_location', 'employment_conditions',
       'maternity/family', 'relocation', 'study/travel', 'ill_health',
       'traumatic_incident', 'work_life_balance', 'workload',
       'none_of_the_above', 'gender', 'age', 'aboriginal', 'torres_strait',
       'south_sea', 'disability', 'nesb', 'dissatisfied', 'institute'],
      dtype='object')

In [109]:
tafe_resignations_up.age.value_counts()

41  45           45
51-55            39
46  50           39
21  25           33
31  35           32
36  40           32
26  30           32
56 or older      29
20 or younger     9
Name: age, dtype: int64

In [107]:
dete_resignations_up.age.value_counts()

41-45            48
46-50            42
36-40            41
26-30            35
51-55            32
31-35            29
21-25            29
56-60            26
61 or older      23
20 or younger     1
Name: age, dtype: int64

In [96]:
combined

,Contributing Factors. Career Move - Private Sector,Contributing Factors. Career Move - Public Sector,Contributing Factors. Career Move - Self-employment,Contributing Factors. Dissatisfaction,Contributing Factors. Ill Health,Contributing Factors. Interpersonal Conflict,Contributing Factors. Job Dissatisfaction,Contributing Factors. Maternity/Family,Contributing Factors. NONE,Contributing Factors. Other,...,relocation,role_start_date,separationtype,south_sea,study/travel,torres_strait,traumatic_incident,work_life_balance,work_location,workload
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2006.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1997.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2009.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2008.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,2009.0,Resignation-Move overseas/interstate,NaN,False,NaN,False,False,False,False
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1998.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2010.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,NaN,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1982.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2009.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1998.0,Resignation-Other reasons,NaN,False,NaN,False,True,False,False
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2012.0,Resignation-Other reasons,NaN,False,NaN,False,True,True,False
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2002.0,Resignation-Other reasons,NaN,False,NaN,False,True,False,False
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2011.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2003.0,Resignation-Other reasons,NaN,False,NaN,True,False,False,False
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2009.0,Resignation-Other reasons,NaN,False,NaN,False,True,False,False
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2011.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,Resignation-Move overseas/interstate,NaN,False,NaN,False,True,False,False
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1980.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1994.0,Resignation-Other reasons,NaN,False,NaN,False,True,False,False
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2011.0,Resignation-Move overseas/interstate,NaN,False,NaN,False,False,False,False
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1976.0,Resignation-Other reasons,NaN,False,NaN,False,True,False,True
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,2010.0,Resignation-Move overseas/interstate,NaN,False,NaN,False,False,False,False
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,2010.0,Resignation-Move overseas/interstate,NaN,False,NaN,False,False,False,False
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,1993.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2008.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,2012.0,Resignation-Other employer,NaN,False,NaN,False,False,False,False
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,2011.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,False,NaN,Resignation-Other reasons,NaN,False,NaN,False,False,True,False
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,True,2011.0,Resignation-Other reasons,NaN,False,NaN,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
621,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
622,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
623,Career Move - Private Sector,-,-,-,-,-,Job Dissatisfaction,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
624,-,-,-,-,Ill Health,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
625,-,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
626,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
628,-,-,-,-,-,-,Job Dissatisfaction,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
629,-,-,-,Contributing Factors. Dissatisfaction,-,Interpersonal Conflict,Job Dissatisfaction,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
630,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
631,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
632,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,-,-,-,-,Ill Health,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
634,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
636,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
637,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
638,-,-,-,Contributing Factors. Dissatisfaction,-,-,Job Dissatisfaction,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
639,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
640,-,-,-,-,-,-,-,-,NONE,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
641,-,-,-,-,Ill Health,-,Job Dissatisfaction,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
642,-,-,-,-,Ill Health,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
643,-,-,-,-,Ill Health,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
644,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
645,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
646,Career Move - Private Sector,-,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
647,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
648,-,Career Move - Public Sector,-,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
649,-,-,-,-,-,-,-,-,-,Other,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN
650,-,-,Career Move - Self-employment,-,-,-,-,-,-,-,...,NaN,NaN,Resignation,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [91]:
# Verify the number of non null values in each column
combined.notnull().sum().sort_values()

torres_strait                                                                  0
south_sea                                                                      3
aboriginal                                                                     7
disability                                                                     8
nesb                                                                           9
business_unit                                                                 32
classification                                                               161
region                                                                       265
role_start_date                                                              271
dete_start_date                                                              283
institute_service                                                            290
LengthofServiceCurrent. Length of Service at current workplace (in years)    290
employment_conditions                                                        311
interpersonal_conflicts                                                      311
job_dissatisfaction                                                          311
lack_of_job_security                                                         311
maternity/family                                                             311
ill_health                                                                   311
none_of_the_above                                                            311
physical_work_environment                                                    311
relocation                                                                   311
study/travel                                                                 311
traumatic_incident                                                           311
work_life_balance                                                            311
lack_of_recognition                                                          311
work_location                                                                311
workload                                                                     311
dissatisfaction_with_the_department                                          311
career_move_to_public_sector                                                 311
career_move_to_private_sector                                                311
Contributing Factors. Study                                                  332
Contributing Factors. Career Move - Public Sector                            332
Contributing Factors. Career Move - Self-employment                          332
Contributing Factors. Dissatisfaction                                        332
Contributing Factors. Ill Health                                             332
Contributing Factors. Interpersonal Conflict                                 332
Contributing Factors. Job Dissatisfaction                                    332
Contributing Factors. Maternity/Family                                       332
Contributing Factors. NONE                                                   332
Contributing Factors. Other                                                  332
Contributing Factors. Career Move - Private Sector                           332
Contributing Factors. Travel                                                 332
Institute                                                                    340
WorkArea                                                                     340
gender                                                                       592
age                                                                          596
employment_status                                                            597
position                                                                     598
cease_date                                                                   635
dissatisfied                                                                 643
separationtype                                                               651
institute                                                                    651
id                                                                           651
dtype: int64

In [143]:
combined_updated = combined.dropna(thresh=500, axis=1)

In [113]:
combined_updated

,age,cease_date,dissatisfied,employment_status,gender,id,institute,position,separationtype
0,36-40,2012.0,False,Permanent Full-time,Female,4.000000e+00,DETE,Teacher,Resignation-Other reasons
1,41-45,2012.0,True,Permanent Full-time,Female,6.000000e+00,DETE,Guidance Officer,Resignation-Other reasons
2,31-35,2012.0,False,Permanent Full-time,Female,9.000000e+00,DETE,Teacher,Resignation-Other reasons
3,46-50,2012.0,True,Permanent Part-time,Female,1.000000e+01,DETE,Teacher Aide,Resignation-Other employer
4,31-35,2012.0,False,Permanent Full-time,Male,1.200000e+01,DETE,Teacher,Resignation-Move overseas/interstate
5,36-40,2012.0,False,Permanent Full-time,Female,1.300000e+01,DETE,Teacher,Resignation-Other reasons
6,31-35,2012.0,True,Permanent Full-time,Male,1.500000e+01,DETE,Teacher,Resignation-Other employer
7,61 or older,2012.0,True,Permanent Part-time,Male,1.700000e+01,DETE,Teacher Aide,Resignation-Other reasons
8,56-60,2012.0,False,Permanent Full-time,Male,2.100000e+01,DETE,Teacher,Resignation-Other employer
9,51-55,2012.0,False,Permanent Part-time,Female,2.200000e+01,DETE,Cleaner,Resignation-Other reasons
10,46-50,2012.0,True,Permanent Part-time,Female,2.300000e+01,DETE,School Administrative Staff,Resignation-Other reasons
11,61 or older,2012.0,True,Permanent Full-time,Female,2.400000e+01,DETE,Teacher,Resignation-Other reasons
12,41-45,2012.0,True,Permanent Part-time,Female,2.600000e+01,DETE,Teacher,Resignation-Other reasons
13,21-25,2012.0,False,Permanent Full-time,Female,2.800000e+01,DETE,Public Servant,Resignation-Other employer
14,36-40,2012.0,True,Permanent Full-time,Male,3.400000e+01,DETE,Teacher,Resignation-Other reasons
15,61 or older,2012.0,True,Permanent Part-time,Male,3.500000e+01,DETE,Cleaner,Resignation-Other reasons
16,21-25,2012.0,False,Temporary Part-time,Female,3.800000e+01,DETE,Teacher Aide,Resignation-Other reasons
17,21-25,2012.0,True,Permanent Full-time,Female,4.000000e+01,DETE,Teacher,Resignation-Move overseas/interstate
18,56-60,2012.0,False,Permanent Full-time,Male,4.100000e+01,DETE,Teacher,Resignation-Other employer
19,51-55,2012.0,True,Permanent Full-time,Female,4.200000e+01,DETE,Head of Curriculum/Head of Special Education,Resignation-Other reasons
20,41-45,2012.0,False,Permanent Part-time,Female,4.300000e+01,DETE,Cleaner,Resignation-Move overseas/interstate
21,51-55,2012.0,True,Permanent Full-time,Male,4.400000e+01,DETE,Teacher,Resignation-Other reasons
22,21-25,2012.0,False,Permanent Full-time,Male,4.900000e+01,DETE,Cleaner,Resignation-Move overseas/interstate
23,21-25,2012.0,False,Permanent Full-time,Male,5.100000e+01,DETE,Cleaner,Resignation-Move overseas/interstate
24,61 or older,2012.0,False,Permanent Full-time,Female,5.200000e+01,DETE,Cleaner,Resignation-Other reasons
25,26-30,2012.0,False,Permanent Part-time,Female,5.600000e+01,DETE,Teacher Aide,Resignation-Other employer
26,46-50,2012.0,False,Permanent Full-time,Male,5.800000e+01,DETE,Teacher,Resignation-Other employer
27,31-35,2012.0,False,Temporary Part-time,Female,6.200000e+01,DETE,Schools Officer,Resignation-Other reasons
28,36-40,2012.0,True,Permanent Full-time,Female,7.000000e+01,DETE,Public Servant,Resignation-Other reasons
29,36-40,2012.0,False,Permanent Part-time,Female,7.200000e+01,DETE,Teacher Aide,Resignation-Other reasons
...,...,...,...,...,...,...,...,...,...
621,46 50,2013.0,False,Temporary Part-time,Female,6.349985e+17,TAFE,Administration (AO),Resignation
622,41 45,2013.0,False,Permanent Part-time,Female,6.349994e+17,TAFE,Administration (AO),Resignation
623,46 50,2013.0,True,Permanent Full-time,Female,6.350003e+17,TAFE,Administration (AO),Resignation
624,NaN,2013.0,False,NaN,NaN,6.350055e+17,TAFE,NaN,Resignation
625,NaN,2013.0,False,NaN,NaN,6.350055e+17,TAFE,NaN,Resignation
626,26 30,2013.0,False,Temporary Full-time,Female,6.350108e+17,TAFE,Administration (AO),Resignation
627,NaN,2013.0,NaN,NaN,NaN,6.350124e+17,TAFE,NaN,Resignation
628,46 50,2013.0,True,Temporary Full-time,Female,6.350127e+17,TAFE,Teacher (including LVT),Resignation
629,51-55,2013.0,True,Temporary Full-time,Male,6.350175e+17,TAFE,Teacher (including LVT),Resignation
630,41 45,2013.0,False,Contract/casual,Female,6.350194e+17,TAFE,Administration (AO),Resignation
631,36 40,2013.0,False,Temporary Full-time,Female,6.350219e+17,TAFE,Administration (AO),Resignation
632,51-55,2013.0,False,Permanent Full-time,Male,6.350253e+17,TAFE,Administration (AO),Resignation
633,56 or older,2013.0,False,Temporary Part-time,Female,6.350279e+17,TAFE,Operational (OO),Resignation
634,26 30,2013.0,False,Temporary Full-time,Female,6.350314e+17,TAFE,Administration (AO),Resignation
635,26 30,2013.0,False,Permanent Part-time,Female,6.350357e+17,TAFE,Administration (AO),Resignation
636,41 45,2013.0,False,Temporary Full-time,Female,6.350374e+17,TAFE,Administration (AO),Resignation
637,41 45,2013.0,False,Contract/casual,Male,6.350375e+17,TAFE,Administration (AO),Resignation
638,26 30,2013.0,True,Temporary Full-time,Female,6.350402e+17,TAFE,Technical Officer (TO),Resignation
639,41 45,2013.0,False,Temporary Full-time,Female,6.350426e+17,TAFE,Administration (AO),Resignation
640,46 50,2013.0,False,Permanent Part-time,Female,6.350479e+17,TAFE,Professional Officer (PO),Resignation
641,41 45,2013.0,True,Permanent Full-time,Male,6.350480e+17,TAFE,Teacher (including LVT),Resignation
642,NaN,2013.0,False,NaN,NaN,6.350496e+17,TAFE,NaN,Resignation
643,56 or older,2013.0,False,Permanent Part-time,Female,6.350496e+17,TAFE,Operational (OO),Resignation
644,26 30,2013.0,False,Temporary Full-time,Female,6.350599e+17,TAFE,Administration (AO),Resignation
645,NaN,2013.0,False,NaN,NaN,6.350652e+17,TAFE,NaN,Resignation
646,21 25,2013.0,False,Temporary Full-time,Male,6.350660e+17,TAFE,Operational (OO),Resignation
647,51-55,2013.0,False,Temporary Full-time,Male,6.350668e+17,TAFE,Teacher (including LVT),Resignation
648,NaN,2013.0,False,NaN,NaN,6.350677e+17,TAFE,NaN,Resignation
649,51-55,2013.0,False,Permanent Full-time,Female,6.350704e+17,TAFE,Teacher (including LVT),Resignation
650,26 30,2013.0,False,Contract/casual,Female,6.350730e+17,TAFE,Administration (AO),Resignation

In [164]:
combined_updated['institute_service_up'] = combined_updated['institute_service'].astype('str')

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [159]:
combined_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 651 entries, 0 to 650
Data columns (total 9 columns):
age                  596 non-null object
cease_date           635 non-null float64
dissatisfied         616 non-null object
employment_status    597 non-null object
gender               592 non-null object
id                   651 non-null float64
institute_service    651 non-null object
position             598 non-null object
separationtype       651 non-null object
dtypes: float64(2), object(7)
memory usage: 45.9+ KB

In [162]:
combined_updated.institute_service.value_counts()

nan                   88
Less than 1 year      73
1-2                   64
3-4                   63
5-6                   33
11-20                 26
5.0                   23
1.0                   22
7-10                  21
3.0                   20
0.0                   20
6.0                   17
4.0                   16
9.0                   14
2.0                   14
7.0                   13
More than 20 years    10
8.0                    8
13.0                   8
15.0                   7
20.0                   7
17.0                   6
10.0                   6
14.0                   6
12.0                   6
22.0                   6
16.0                   5
18.0                   5
11.0                   4
24.0                   4
23.0                   4
19.0                   3
21.0                   3
32.0                   3
39.0                   3
26.0                   2
36.0                   2
25.0                   2
30.0                   2
28.0                   2
33.0                   1
27.0                   1
49.0                   1
42.0                   1
35.0                   1
29.0                   1
34.0                   1
31.0                   1
38.0                   1
41.0                   1
Name: institute_service, dtype: int64

In [165]:
combined_updated['institute_service_up'] = combined_updated['institute_service'].str.extract(r'(\d+)')

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  if __name__ == '__main__':
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [167]:
combined_updated['institute_service_up'].value_counts()

1     159
3      83
5      56
7      34
11     30
0      20
6      17
20     17
4      16
2      14
9      14
8       8
13      8
15      7
10      6
17      6
14      6
12      6
22      6
16      5
18      5
24      4
23      4
32      3
21      3
39      3
19      3
28      2
36      2
26      2
25      2
30      2
31      1
42      1
27      1
41      1
29      1
34      1
35      1
38      1
33      1
49      1
Name: institute_service_up, dtype: int64

In [169]:
combined_updated['institute_service_up'] = combined_updated['institute_service_up'].astype('float')
# Convert years of service to categories
def transform_service(val):
    if val >= 11:
        return "Veteran"
    elif 7 <= val < 11:
        return "Established"
    elif 3 <= val < 7:
        return "Experienced"
    elif pd.isnull(val):
        return np.nan
    else:
        return "New"
combined_updated['service_cat'] = combined_updated['institute_service_up'].apply(transform_service)

# Quick check of the update
combined_updated['service_cat'].value_counts()

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

New            193
Experienced    172
Veteran        136
Established     62
Name: service_cat, dtype: int64

In [170]:
# Verify the unique values
combined_updated['dissatisfied'].value_counts(dropna=False)

True     253
False    250
NaN       35
3.0       12
4.0       11
5.0       11
2.0        9
6.0        8
7.0        6
10.0       5
12.0       4
13.0       4
15.0       3
8.0        3
9.0        3
21.0       3
20.0       3
14.0       3
11.0       2
16.0       2
17.0       2
18.0       2
19.0       2
23.0       2
25.0       2
42.0       1
22.0       1
26.0       1
27.0       1
28.0       1
29.0       1
30.0       1
31.0       1
32.0       1
35.0       1
49.0       1
Name: dissatisfied, dtype: int64

In [171]:
# Replace missing values with the most frequent value, False
combined_updated['dissatisfied'] = combined_updated['dissatisfied'].fillna(False)

/dataquest/system/env/python3/lib/python3.4/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [181]:
combined_updated['service_cat'].value_counts()

ValueError: could not convert string to float: 'Experienced'

In [179]:
dis_pct = combined_updated.pivot_table(index='service_cat', values='dissatisfied')

DataError: No numeric types to aggregate